.Body {
    /* position: sticky;
    position: -webkit-sticky;
    top: 82px; */
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    background: rgb(245, 245, 245)
}
.py {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 25px;
    border-bottom-style: solid;
}
body{
    background: rgb(245, 245, 245)
}
.photoBody {
    margin: 30px;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 5px;
}
.side {
    /* position: sticky;
    position: -webkit-sticky;
    top : 82px; */
    width: 25%;
    height: 900px;
    margin-top: 20px;
    margin-right: 30px;
}
.chatBody {
    position: sticky;
    position: -webkit-sticky;
    top : 82px;
    width: 100%;
    height: 55%;
    border-style: initial;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.output {
    position: sticky; 
    position: -webkit-sticky; 
    top : 610px;
    height: 20%;
    border-style: initial;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.outp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.out {
    margin: 0 auto;
    height: auto;
    padding: 10px;
    width:auto;
    background: #4285f4;
    border-style: initial;
    border-radius: 10px;
    color:#fff;
    text-align: center;
}
.child {
    box-sizing: border-box;
    height: 300px;
    width: 47%;
    cursor: pointer;
    background: #fff;
    margin: 15px;
    border-radius: 10px;
}
.img {
    width: 100%;
    height: 70%;
}
.pr {
    margin-top: 20px;
    margin: auto;
    width: 70%;
    height: 30%;
    font-size: 12px;
    padding: 5px;
}
.nav {
    margin: 0 auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background: #4285f4;
}
.left {
    width: 40%;
    height: 30px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-weight: lighter;
    color:#fff;
    margin-left: 50px;
}
.left:hover{
    color: #ccc;
}
.input-field::-webkit-input-placeholder {
    text-align: center;
    font-size: 13px;
    color: #333;
}

.mid {
    width: 25%;
    height: 25px;
    margin: 5px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    
}
.sea {
    padding-left: 5px;
    background: #5992ee;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    border-style: initial;
    width: 90%;
}
.explore{
    color: #fff;
    margin-left: 10px;
    font-weight: 5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
}
.explore :hover{
    color: #eee;
}
.child:hover {
    transform: scale(1.05);
}
.msg {
    background: #5992ee;
    width: 100%;
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
    border-style: initial;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3px;
}
.image-upload>input {
    visibility: hidden;
    width: 0px;
    height: 0px;
    
}

.fa {
    transform: scale(1.2, 1.2);
    color: #aaa;
    cursor: pointer;
}
.fas {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    color: #fff;
}
#seac {
    transform: scale(0.9, 0.9);
    color: #fff;
}
.far {
    transform: scale(1.5, 1.5);
    cursor: pointer;
    margin-right: 20px;
}

.larger {
    width: 70%;
    height: 500px;
    padding: 5px;
}

.infoc {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 30%;
    height: 500px;
    float: right;
    
}
.infoc1 {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 220px;
    border-top-right-radius: 25px;
}
.bu{
    position: absolute;
    top: 3px;
    right: 3px;
}
.p {
    text-align: center;
    margin: 0 auto;
}
.top {
    margin: 0 auto;
    height: 10%;
}
.top1 {
    padding-top: 10px;
    height: 20%;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.center {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    padding: 10px;
}
.center1 {
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 55%;
    padding: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 5px;
}
.txt {
    height: 100%; 
    width: 100%; 
    border-style:initial; 

}
.ix {
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-flow: column;
    align-content: space-between;
}
.bottom {
    width: 100%;
    height: 10%;
}
.bottom1{
    margin: 0 auto;
    width: 90%;
    height: 5%;
}
.in {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 5px;
}
.but1 {
    margin-top: 5%;
    margin-left: 30%;
    border-style: initial;
    cursor: pointer;
    width: 40%;
    height: 65%;
    font-size: 13px;
    color: #fff;
    background: #4285f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px
}
.image-upload {
    width: 5%;
    height: 30px;
}
.send {
    width: 100%;
    height: 100%;
    border-style: initial;
    background: #fff;
    padding-left: 8px;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:active {
    background-color: transparent;
    text-decoration: none;
}

.map {

    height: 30%;
    width: 50%
}
.map1{
    height: 700px;
}
.cus{
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    line-height: 25px;
    font-size: 12px;
    color: white;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.cus1 {
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    line-height: 25px;
    font-size: 12px;
    color: white;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ch1{
    background: #4285f4;
    border-radius: 5px;
    padding: 5px;
}
.ch2 {
    background: #ccc;
    border-radius: 5px;
    padding: 5px;
    color: black
}
.ch{
    width:27px;
    height:27px;
    
    margin: 5px;
}
.input {
    margin: 0 auto;
    width: 45%;
    height: 13%;
    border-bottom-style: solid;
    border-bottom-color: #eee;
    border-bottom-width: 1px;
    padding: 10px;
}
.input-field {
    width: 100%;
    height: 100%;
    border-style: initial;
    background: #fff;
}


div.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

textarea,button,input {
    outline:none
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
